/* 冒頭でimport */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


*{margin: 0;padding: 0;}
img{border:0;}
body{
	font-family: 'Roboto', sans-serif;
	font-size:1.2rem;
}

h1{
	font-size: 3rem;
	font-weight: 400;
}
h2{
	padding:0.2em 0.4em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:2.5rem;
}
header{
	text-align: center;
	color: rgb(255,255,255);
}
iframe{
	
	width:90%;
	height:80%;
	margin:auto;
	display: block;
	border: none; 
	
}
#Contents{
	width: 100vw;
	min-width:500px;
	height:100vh;
	min-height:500px;
	margin:0;
	background:rgb(210,210,210);
	/*overflow:hidden;*/
	/*background-image: url("test2.jpg");
	background-size: cover;*/
	background-color   : #F5F5F5;
	background-image   : radial-gradient(#616161 4%, transparent 7%),
						 radial-gradient(#616161 4%, transparent 7%);
	background-position: 0 0, 40px 40px;
	background-size    : 80px 80px;
}
#Header{
	width: 100vw;
	min-width:500px;
	height:80px;
	margin:0;
	background:#263238;
	float: left;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);

	/*文字の縦横中央揃え*/
	display: flex;
    justify-content: center;
    align-items: center;
}


#BoxContents{
	width: 85vmin;
	min-width: 500px;
	height:85vmin;
	min-height: 500px;
	display:block;
	margin:auto;
	overflow:hidden;
	/*background:rgba(207,216,220 ,0.9);*/
	color: rgb(255,255,255);
}
.BoxItem{
	box-shadow: 0 2px 1px rgba(0,0,0,0.4);
	/*border-radius:3px;*/

	/*アニメーションカクツキ対策用*/
	transform: translate3d(0,0,0);
}
#AboutMe{
	width:71%;
	height:21%;
	float: left;
	display:block;
	padding:1%;
	margin:1%;
	background:#1976D2;
	color: rgb(255,255,255);
	overflow: hidden;
	position: relative;
	/*
	background-image: url("image/aboutme.png");
	background-size: cover;
	:/	
	
	/*アニメーションプロパティ*/
	opacity:0;
	animation-name:fadeIn;
	animation-duration:1s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay:0s;
	animation-fill-mode:forwards;
}
#AboutMe img{
	position: relative;
	width:104%;
	margin:-2% -2% -2%;
	transition-duration: 0.3s;/*変化に掛かる時間*/
	transition-timing-function:linear;
}
#AboutMe:hover > img{
	transform: scale(1.2);
	padding-right:100%;
	transition-duration: 0.3s;
	transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

#AboutMe h2{
	position: absolute;
	left:0;
	z-index:100;
}
#AboutMe p{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translateY(-50%) translateX(-50%);
	color: #FFF;
	text-align: center;
	text-shadow: 0 2px 5px rgba(0,0,0,0.26);
	z-index:100;
}

#blank{
	width: 21%;
	height:21%;
	float: left;
	display:block;
	padding:1%;
	margin:1%;
	background:#7986CB;
	color: rgb(255,255,255);
	
	/*アニメーションプロパティ*/
	opacity:0;
	animation-name:fadeIn;
	animation-duration:1s;
	animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay:0.1s;
	animation-fill-mode:forwards;
}

#News{
	width: 46%;
	height:71%;
	float: left;
	display:block;
	padding:1%;
	margin:1%;
	background:#FAFAFA;
	color:#424242;

	/*アニメーションプロパティ*/
	opacity:0;
	animation-name:fadeIn;
	animation-duration:1s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay:0s;
	animation-fill-mode:forwards;
}

#Links{
	width:46%;
	height:46%;
	float: left;
	display:block;
	padding:1%;
	margin:1%;
	background:#FAFAFA;
	color:#424242;
	
	overflow:hidden;
	/*アニメーションプロパティ*/
	opacity:0;
	animation-name:fadeIn;
	animation-duration:1s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay:0.4s;
	animation-fill-mode:forwards;
}
#iconboxBack{
	width:100%;
	height:100%;
	margin:0 -5%;
	padding:0 5%;
	background:#263238;
	display:box;
}
#iconbox{
	width:100%;
	height:80%;
	
	display: flex;
	align-items:space-around;
}
#iconbox ul{
	width:100%;
}
#iconbox li{
	list-style: none;
	width:50%;
	height:50%;
	float:left;
	/*display: block;*/
	margin:auto;
	font-size: 0.9rem;
	text-align:center; 

	display: flex;
  	justify-content: center;
  	align-items: center;
}
#iconbox li a{
	color:#FFF59D;
	text-decoration: none;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

	transition-duration: 0.3s;/*変化に掛かる時間*/
	transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#iconbox li a:hover{
	transform: scale(1.2);
	transition-duration: 0.3s;
	transition-timing-function:ccubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.MyIconSize{
	font-size: 3rem;
	display:box;
	margin:3% auto;
}
#Extra{
	width: 46%;
	height:21%;
	float: left;
	display:block;
	padding:1%;
	margin:1%;
	background:#303F9F;
	color: rgb(255,255,255);
	/*アニメーションプロパティ*/
	opacity:0;
	animation-name:fadeIn;
	animation-duration:1s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay:0.5s;
	animation-fill-mode:forwards;
}
#Detail1{
	width:50vmin;/*だいたいフルHDで500pxくらい50vmin*/
	max-width:1080px;
	height:95vh;
	position: fixed;
	top: 17vh;
	right:0;
	z-index: 100;
	float:left;
	display: none;
	margin: 0;
	padding:1%;
	background:#F5F5F5;

	text-align: center;
}

@keyframes fadeIn{
	0%{
		opacity:0;
		margin-top:100%;
	}
	100%{
		opacity:1;
		margin-top:1%;
	}
}